{% extends 'layout.html' %}

{% block stylesheets %}

    <!--dropzone-->
    <link href="/css/dropzone.css" rel="stylesheet">


{% endblock %}

{% block page_head %}
    <!-- page head start-->
    <div class="page-head">
        <h3 class="m-b-less">
            文件管理
        </h3>
        <!--<span class="sub-title">Welcome to Static Table</span>-->
        <div class="state-information">
            <ol class="breadcrumb m-b-less bg-less">
                <li><a href="#">首页</a></li>
                <li><a href="#">文件管理</a></li>
                <li class="active">文件上传</li>
            </ol>
        </div>
    </div>
    <!-- page head end-->
{% endblock %}

{% block main_content %}

    <div class="wrapper">


        <div class="row">
            <div class="col-lg-12">

                <section class="panel">
                    <header class="panel-heading">
                        Dropzone
                        <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                    </header>
                    <div class="panel-body">
                        <form id="my-awesome-dropzone" action="/target" class="dropzone"></form>
                    </div>
                </section>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>ITEM</th>
                <th class="hidden-xs">DESCRIPTION</th>
                <th class="">UNIT COST</th>
                <th class="">QUANTITY</th>
                <th>TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>LCD Monitor</td>
                <td class="hidden-xs">20 inch Philips LCD Black color monitor</td>
                <td class="">$ 1000</td>
                <td class="">2</td>
                <td>$ 2000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Laptop</td>
                <td class="hidden-xs">Apple Mac book pro 15” Retina Display. 2.8 GHz Processor,8 GB Ram</td>
                <td class="">$1750</td>
                <td class="">1</td>
                <td>$1750</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mouse</td>
                <td class="hidden-xs">Apple Magic Mouse</td>
                <td class="">$90</td>
                <td class="">3</td>
                <td>$270</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Personal Computer</td>
                <td class="hidden-xs">iMac 21 inch slim body. 1.7 GHz, 8 GB Ram</td>
                <td class="">$1200</td>
                <td class="">2</td>
                <td>$2400</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Printer</td>
                <td class="hidden-xs">Epson Color Jet printer</td>
                <td class="">$200</td>
                <td class="">2</td>
                <td>$400</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>

    </div>


{% endblock %}

{% block scripts %}


    <!--dropzone-->
    <script src="/js/dropzone.js"></script>


{% endblock %}

